---
layout: default
---

<div class="jumbotron jumbotron_extend mb-0 px-sm-5">
  <div class="jumbotron_extend__area">
    <h1 class="jumbotron_extend__logo text-center p-3 p-sm-4 mb-0"><img src="{{ '/assets/img/logo.svg' | relative_url }}" class="img-fluid" alt="DEVREL/JAPAN CONFERENCE 2019"></h1>
    <p class="jumbotron_extend__date text-center p-3 p-sm-4">2019.09.07 (SAT) 13:00～21:00</p>
  </div>
</div><!-- //jumbotron -->


<div class="container-fluid twocol_extend">
  <div class="row">
    <div class="col-12 col-md-6 text-center p-4 p-sm-5 header-content">
      <h2 id="about" class="font_oswald mb-4">DEVREL/JAPAN CONFERENCE <span class="text-primary">2019</span></h2>
      <p class="twocol_extend__width text-left mx-sm-auto">DEVREL/JAPAN CONFERENCE 2019 はDevRel、DX（開発者体験）、開発者コミュニティ、APIそして開発者マーケティングに関するカンファレンスです。</p>
      <button type="button" class="btn bg-primary text-white btn-lg font_noto700" onclick="window.open('https://devrel.connpass.com/event/132576/')"><i class="fas fa-ticket-alt"></i> チケット購入</button>
    </div>

    <div class="col-12 col-md-6 text-center p-4 p-sm-5 twocol_extend__bgpink header-content">
      <h2 class="font_oswald mb-4">Track Sessions <span class="text-primary">CFP!!</span></h2>
      <p class="twocol_extend__width text-left mx-sm-auto">セッション登壇者を募集中です。あなたの体験を語ってください！</p>
      <button type="button" class="btn bg-primary text-white btn-lg font_noto700" onClick="window.open('https://www.papercall.io/devrel-japan-2019')"><i class="fas fa-paper-plane"></i>CFPを提出</button>
    </div>
  </div><!-- /row -->
</div><!-- /container-fluid -->



<div class="fluid_extend fluid_extend--glay">
  <div class="container py-4 py-sm-5 header-content">
    <div class="row">
      <div class="col-12 text-center">
        <h2 id="speakers" class="font_oswald mb-1">SPEAKER</h2>
        <p class="mb-4 mb-sm-5 text-primary">スピーカー</p>
      </div>
    </div><!-- row -->

    <p class="text-center">大募集中！</p>
    <div class="text-center">
      <button type="button" class="btn bg-primary text-white btn-lg font_noto700" onClick="window.open('https://www.papercall.io/devrel-japan-2019')"><i class="fas fa-paper-plane"></i>CFPを提出</button>
    </div>
  </div><!-- container-fluid -->
</div><!-- /speaker_extend -->


<div class="fluid_extend">
    <div class="container py-4 py-sm-5 header-content">
      <div class="row">
        <div class="col-12 text-center">
          <h2 id="schedule" class="font_oswald mb-1">SCHEDULE</h2>
          <p class="mb-4 mb-sm-5 text-primary">スケジュール</p>
          <p class="text-center">調整中</p>
        </div>
      </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- /fluid_extend -->


<div class="fluid_extend fluid_extend--glay">
  <div class="container py-4 py-sm-5 header-content">
    <div class="row">
      <div class="col-12 text-center">
        <h2 id="sponsors" class="font_oswald mb-1">SPONSORS</h2>
        <p class="mb-4 mb-sm-5 text-primary">スポンサー</p>
      </div>
    </div><!-- row -->

    <div class="row">
      {% for sponsor in site.data.sponsors %}
        <div class="col-6 col-md-3 sponsor_extend mb-3">
          <a href="{{sponsor.url}}" target="_blank" class="p-2 d-block bg-white">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/sponsors/{{sponsor.image}}.png" alt="{{sponsor.name}}">
            <p class="sponsor_extend__name text-center mb-0">{{sponsor.name}}</p>
          </a>
        </div>
      {% endfor %}
    </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- /fluid_extend -->



<div class="fluid_extend">
  <div class="container-fluid py-4 pt-sm-5 pb-sm-0 header-content">
    <div class="row">
      <div class="col-12 text-center">
        <h2 id="access" class="font_oswald mb-1">ACCESS</h2>
        <p class="mb-4 mb-sm-5 text-primary">アクセス</p>
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="col-12 px-0">
        <h3 class="text-center">東京 日本橋タワー</h3>
        <p class="text-center mb-5 text-secondary">サイボウズ社, 東京都中央区日本橋2-7-1 日本橋タワー 27F</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.798328902655!2d139.7720724510492!3d35.6819674374415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018895634a3d487%3A0xe67a55fa52247d0!2z5p2x5Lqs5pel5pys5qmL44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1558400907225!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;width:100%;height:auto;min-height:30em;border:none;" allowfullscreen=""></iframe>
      </div>
    </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- /fluid_extend -->



<div class="fluid_extend fluid_extend--glay">
  <div class="container py-4 py-sm-5 header-content">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="font_oswald mb-1">ORGANIZERS</h2>
        <p class="mb-4 mb-sm-5 text-primary">主　催</p>
      </div>
    </div><!-- row -->

    <div class="row">
      {% for member in site.data.organizers %}
        <div class="col-6 col-md-3 mb-4 mb-sm-5">
          <a href="#" class="people-detail__ph"><img class="img-fluid" src="{{site.baseurl}}/assets/img/members/{{member.img}}.jpg" alt="{{member.name}}"></a>
          <div class="people-detail p-2 p-sm-2">
            <p class="people-detail__name text-white text-center mb-1">{{member.name}}</p>
            <p class="people-detail__links mb-0 text-center">
              {% if member.github != "" %}
                <a href="https://github.com/{{member.github}}" target="_blank" class="text-white"><i class="fab fa-github-square"></i></a>
              {% endif %}
              {% if member.twitter != "" %}
                <a href="https://twitter.com/{{member.twitter}}" target="_blank" class="text-white"><i class="fab fa-twitter-square"></i></a>
              {% endif %}
            </p>
          </div><!-- people-detail -->
        </div>
      {% endfor %}
    </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- /fluid_extend -->
