<div class="fluid_extend">
  <div class="container py-4 py-sm-5 header-content">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="font_oswald mb-1">DEVREL MEETUP IN TOKYO</h2>
        <p class="mb-4 mb-sm-3 text-primary">DevRel Meetup in Tokyo について</p>
        <div class="twocol_extend__width mx-sm-auto">
          <p>DevRel Meetup in Tokyoは、エバンジェリスト、アドボケイトそしてすべての開発者向けマーケティングを行う人たちのコミュニティです。定期的にオフラインイベントを行っています。</p>
          <p class="text-center"><a href="https://devrel.connpass.com/" target="_blank" class="text-dark"><i class="fas fa-globe text-dark"></i> https://devrel.connpass.com/</a></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="fluid_extend bg-dark">
  <div class="container py-4 py-sm-4">
    <div class="row">
    <div class="col-12 text-white text-center">
        &copy; 2019 DevRel Meetup in Tokyo.
    </div>
    </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- /fluid_extend -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>