<div class="container-fluid twocol_extend">
  <div class="row">
    
      <div class="col-12 col-md-6 text-center p-4 p-sm-5 twocol_extend__bgpink">
          <h2 id="contact" class="font_oswald mb-1">CONTACT</h2>
          <p class="mb-4 mb-sm-3 text-primary">お問い合わせ</p>
          <div class="twocol_extend__width text-left mx-sm-auto">
            <form autocomplete="false" role="form" method="post" action="https://ma.moongift.co.jp/form/submit?formId=7" id="mauticform_devreljapanwenihewasefomu" data-mautic-form="devreljapanwenihewasefomu" enctype="multipart/form-data">
              <div class="mauticform-error" id="mauticform_devreljapanwenihewasefomu_error"></div>
              <div class="mauticform-message" id="mauticform_devreljapanwenihewasefomu_message"></div>
                  <div class="form-group">
                      <label>メールアドレス</label>
                      <input id="mauticform_input_devreljapanwenihewasefomu_meruadoresu" name="mauticform[meruadoresu]" value="" class="form-control border-0" type="email">
                  </div>
                  <div class="form-group">
                      <label>会社名</label>
                      <input id="mauticform_input_devreljapanwenihewasefomu_hui_she_ming" name="mauticform[hui_she_ming]" value="" class="mauticform-input form-control border-0" type="text">
                  </div>
                  <div class="form-group">
                      <label>お名前</label>
                      <input id="mauticform_input_devreljapanwenihewasefomu_o_ming_qian" name="mauticform[o_ming_qian]" value="" class="form-control border-0 mauticform-input" type="text">
                  </div>
                  <div class="form-group">
                      <label>メッセージ</label>
                      <textarea id="mauticform_input_devreljapanwenihewasefomu_messeji" name="mauticform[messeji]" class="mauticform-textarea form-control border-0"></textarea>
                  </div>
                  <button type="submit" name="mauticform[submit]" id="mauticform_input_devreljapanwenihewasefomu_submit" value="" class="mauticform-button btn text-white bg-primary"><i class="fas fa-paper-plane"></i> お問い合わせ</button>
                  <input type="hidden" name="mauticform[formId]" id="mauticform_devreljapanwenihewasefomu_id" value="7">
                  <input type="hidden" name="mauticform[return]" id="mauticform_devreljapanwenihewasefomu_return" value="">
                  <input type="hidden" name="mauticform[formName]" id="mauticform_devreljapanwenihewasefomu_name" value="devreljapanwenihewasefomu">
              </form>
          </div><!-- /twocol_extend__width -->
      </div><!-- /col -->

      <div class="col-12 col-md-6 text-center p-4 p-sm-5">
        <h2 class="font_oswald mb-1">DEVREL/JAPAN</h2>
        <p class="mb-4 mb-sm-3 text-primary">カンファレンス</p>
        <div class="twocol_extend__width text-left mx-sm-auto">
            <p class="text-center">Devrel/japan conferenceの最新情報をチェック</p>
              <p class="text-center display-4">
                <a href="https://twitter.com/devreltokyo/" target="_blank" class="text-dark"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.facebook.com/devreltokyo" target="_blank" class="text-dark"><i class="fab fa-facebook-square"></i></a>
              </p>
        </div><!-- /twocol_extend__width -->

        <div class="twocol_extend__width text-left mx-sm-auto mb-sm-3 bg-light p-3">
            <p>メールマガジンを購読</p>
            <form action="https://moongift.us20.list-manage.com/subscribe/post?u=038774d9293e9747e3eeacb6e&amp;id=ea74dba86f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="input-group">
                  <input type="email" value="" name="EMAIL" class="form-control border-0 required email" id="mce-EMAIL">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                    <div class="input-group-append">
                      <button class="btn bg-dark text-white" type="submit"><i class="fas fa-paper-plane"></i></button>
                    </div>
                  </div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        </div><!-- /twocol_extend__width -->
  
        <h2 class="font_oswald mb-1">DEVREL MEETUP IN TOKYO</h2>
        <p class="mb-4 mb-sm-3 text-primary">DevRel Meetup in Tokyo について</p>
        <div class="twocol_extend__width text-left mx-sm-auto">
          <p>DevRel Meetup in Tokyoは、エバンジェリスト、アドボケイトそしてすべての開発者向けマーケティングを行う人たちのコミュニティです。定期的にオフラインイベントを行っています。</p>
            <p><a href="https://devrel.tokyo/" target="_blank" class="text-dark"><i class="fas fa-globe text-dark"></i> https://devrel.tokyo/</a></p>
        </div><!-- /twocol_extend__width -->
      </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container-fluid -->



  <div class="fluid_extend bg-dark">
    <div class="container py-4 py-sm-4">
      <div class="row">
      <div class="col-12 text-white text-center">
          &copy; 2019 DevRel Meetup in Tokyo.
      </div>
      </div><!-- row -->
    </div><!-- container-fluid -->
  </div><!-- /fluid_extend -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://ma.moongift.co.jp/media/js/mautic-form.js';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://ma.moongift.co.jp';
        var MauticLang   = {
            'submittingMessage': "お待ちください…"
        }
    }
</script>
