{% if session.speaker == 'true' %}
  <div class="col-6 col-md-3 mb-4 mb-sm-5">
    <a href="./speakers/{{ session.id }}/" class="people-detail__ph">
      <img class="img-fluid" src="assets/img/speakers/{{ session.id }}.jpg" alt="{{ session.name }}">
    </a>
    <div class="people-detail p-2 p-sm-2">
      <p class="people-detail__name text-white text-center mb-1">{{ session.name }}
        {% if session.company != '' %}
          （{{ session.company }}）
        {% endif %}
      </p>
      <p class="people-detail__links mb-0 text-center">
        {% if session.twitter != '' %}
          <a href="https://twitter.com/{{ session.twitter }}" target="_blank" class="text-white"><i class="fab fa-twitter-square"></i></a>
        {% endif %}
        {% if session.facebook != '' %}
          <a href="https://fb.me/{{ session.facebook }}" target="_blank" class="text-white"><i class="fab fa-facebook-square"></i></a>
        {% endif %}
        {% if session.github != '' %}
          <a href="https://github.com/{{ session.github }}" target="_blank" class="text-white"><i class="fab fa-github-square"></i></a>
        {% endif %}
        {% if session.linkedin != '' %}
          <a href="https://www.linkedin.com/in/{{ session.linkedin }}" target="_blank" class="text-white"><i class="fab fa-linkedin"></i></a>
        {% endif %}
        {% if session.web != '' %}
          <a href="{{ session.web }}" target="_blank" class="text-white"><i class="fas fa-globe"></i></a>
        {% endif %}
      </p>
    </div><!-- people-detail -->
  </div>
{% endif %}
